//PINK COLORS
//All Browsers
$color-pink: #FFC0CB;
$color-light-pink: #FFB6C1;
$color-deep-pink: #FF1493;
$color-pale-violet-red:	#DB7093;
$color-medium-violet-red:	#C71585;

//PURPLE COLORS
//All Browsers
$color-lavender: #E6E6FA;
$color-thistle: #D8BFD8;
$color-plum: #DDA0DD;
$color-orchid: #DA70D6;
$color-violet: #EE82EE;
$color-fuchsia: #FF00FF;
$color-magenta: #FF00FF;
$color-medium-orchid: #BA55D3;
$color-mark-orchid: #9932CC;
$color-mark-violet: #9400D3;
$color-blue-violet: #8A2BE2;
$color-dark-magenta: #8B008B;
$color-purple: #800080;
$color-mediumPurple: #9370DB;
$color-medium-slate-blue: #7B68EE;
$color-slate-blue: #6A5ACD;
$color-dark-slate-blue: #483D8B;
$color-rebecca-purple: #663399;
$color-indigo: #4B0082;

//RED COLORS
//All Browsers
$color-light-salmon: #FFA07A;
$color-salmon: #FA8072;
$color-dark-salmon: #E9967A;
$color-light-coral: #F08080;
$color-indian-red: #CD5C5C;
$color-crimson: #DC143C;
$color-red: #FF0000;
$color-fire-brick: #B22222;
$color-dark-red: #8B0000;
//Addition
$color-venetian-red: #E2001A;

//ORANGE COLORS
//All Browsers
$color-orange: #EAAB00;
$color-dark-orange: #FF8C00;
$color-coral: #FF7F50;
$color-tomato: #FF6347;
$color-orange-red: #FF4500;
//Addition
$color-whiskey: #CC9966;
$color-red-orange: #F44336;

//YELLOW COLORS
//All Browsers
$color-gold: #FFD700;
$color-yellow: #FFFF00;
$color-light-yellow: #FFFFE0;
$color-lemon-chiffon: #FFFACD;
$color-light-golden-rod-yellow: #FAFAD2;
$color-papaya-whip: #FFEFD5;
$color-moccasin: #FFE4B5;
$color-peach-puff: #FFDAB9;
$color-pale-golden-rod: #EEE8AA;
$color-khaki: #F0E68C;
$color-dark-khaki: #BDB76B;
//Addition
$color-grandis: #FFCC66;
$color-caramel: #FED88C;
$color-lightning-yellow: #F7941D;
$color-my-sin: #FCB040;
$color-chenin: #DDB570;
$color-apricot-white: #F8F0E2;
$color-tangerine-yellow: #FFCC00;
$color-amber: #FFC107;
$color-astra: #EDDCA4;
$color-half-colonial-white: #F2E6BE;
$color-vis-vis: #FAC896;

//GREEN COLORS
//All Browsers
$color-green-yellow: #ADFF2F;
$color-chartreuse: #7FFF00;
$color-lawn-green: #7CFC00;
$color-lime: #00FF00;
$color-lime-green: #32CD32;
$color-pale-green: #98FB98;
$color-light-green: #90EE90;
$color-medium-spring-green: #00FA9A;
$color-spring-green: #00FF7F;
$color-medium-sea-green: #3CB371;
$color-sea-green: #2E8B57;
$color-forest-green: #228B22;
$color-green: #008000;
$color-dark-green: #006400;
$color-yellow-green: #9ACD32;
$color-olive-drab: #6B8E23;
$color-dark-olive-green: #556B2F;
$color-medium-aqua-marine: #66CDAA;
$color-dark-sea-green: #8FBC8F;
$color-light-sea-green: #20B2AA;
$color-dark-cyan: #008B8B;
$color-teal: #008080;
//Addition
$color-amazon: #306D4D;
$color-watercourse: #006432;
$color-pixie-reen: #C4D1AE;
$color-bilbao: #38761D;
$color-oxley: #679479;
$color-coconut-cream: #E0D7BB;
$color-sherpa-blue: #003946;

//CYAN COLORS
//All Browsers
$color-aqua: #00FFFF;
$color-cyan: #00FFFF;
$color-light-cyan: #E0FFFF;
$color-pale-turquoise: #AFEEEE;
$color-aquamarine: #7FFFD4;
$color-turquoise: #40E0D0;
$color-medium-turquoise: #48D1CC;
$color-dark-turquoise: #00CED1;

//BLUE COLORS
//All Browsers
$color-cadet-blue: #5F9EA0;
$color-steel-blue: #4682B4;
$color-light-steel-blue: #B0C4DE;
$color-light-blue: #ADD8E6;
$color-powder-blue: #B0E0E6;
$color-light-sky-blue: #87CEFA;
$color-sky-blue: #87CEEB;
$color-cornflower-blue: #6495ED;
$color-deep-sky-blue: #00BFFF;
$color-dodger-blue: #1E90FF;
$color-royal-blue: #4169E1;
$color-blue: #0000FF;
$color-medium-blue: #0000CD;
$color-dark-blue: #00008B;
$color-navy: #000080;
$color-midnight-blue: #191970;

//BROWN COLORS
//All Browsers
$color-cornsilk: #FFF8DC;
$color-blanched-almond: #FFEBCD;
$color-bisque: #FFE4C4;
$color-navajo-white: #FFDEAD;
$color-wheat: #F5DEB3;
$color-burly-wood: #DEB887;
$color-tan: #D2B48C;
$color-rosy-brown: #BC8F8F;
$color-sandy-brown: #F4A460;
$color-golden-rod: #DAA520;
$color-dark-golden-rod: #B8860B;
$color-peru: #CD853F;
$color-chocolate: #D2691E;
$color-olive: #808000;
$color-saddle-brown: #8B4513;
$color-sienna: #A0522D;
$color-brown: #A52A2A;
$color-maroon: #800000;

//WHITE COLORS
//All Browsers
$color-white: #FFFFFF;
$color-snow: #FFFAFA;
$color-honey-dew: #F0FFF0;
$color-mint-cream: #F5FFFA;
$color-azure: #F0FFFF;
$color-alice-blue: #F0F8FF;
$color-ghost-white: #F8F8FF;
$color-white-smoke: #F5F5F5;
$color-sea-shell: #FFF5EE;
$color-beige: #F5F5DC;
$color-old-lace: #FDF5E6;
$color-floral-white: #FFFAF0;
$color-ivory: #FFFFF0;
$color-antique-white: #FAEBD7;
$color-linen: #FAF0E6;
$color-lavender-blush: #FFF0F5;
$color-misty-rose: #FFE4E1;
//Addition
$color-dark-white: #FAFAFA;
$color-seashell: #FFF5EB;

//GREY COLORS
//All Browsers
$color-gainsboro: #DCDCDC;
$color-light-gray: #D3D3D3;
$color-silver: #C0C0C0;
$color-dark-gray: #A9A9A9;
$color-dim-gray: #676767;
$color-gray: #808080;
$color-light-slate-gray: #778899;
$color-slate-gray: #708090;
$color-dark-slate-gray: #2F4F4F;
$color-black: #000000;
//Addition
$color-swans-down: #D6E2DB;
$color-grey-chateau: #999B9E;
$color-suva-grey: #898989;
$color-dark-gray: #9E9E9E;
$color-nobel: #A99D9D;
$color-charcoal: #404040;
$color-oslo-grey: #7E8481;
$color-night-rider: #323232;

//menu-bg
$color-menu-bg: #006432;
